### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.iws
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/
/*.iml

### OTHERS ###
logfile.*
*.pem
*/static/uploads/*
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/target/
/.mvn/wrapper/maven-wrapper.jar
*.log
*.jar
.vscode/
*.war
*.ear
*.tmp
*.swp
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*~
.DS_Store
Thumbs.db
/.idea/
